@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --index: calc(1vw + 1vh);
  --side-small: 26;
  --side-big: 36;
  --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  --depth: 6130px;
}

body {
  font-family: "Roboto";
  color: #fff;
  font-size: calc(var(--index) * 1);
  line-height: 1.7;
  height: var(--depth);
}

body::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  background: url("../img/bg/01.jpg") 0 0/cover no-repeat;
}

.main {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}

.main__frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition), opacity 0.75s;
  transition: var(--transition), opacity 0.75s;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.frame-1__content {
  background-color: #E7F066;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-1__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 75vw;
  /* 1080/1440 */
  height: 83.5vh;
  /* 668/800 */
}

.frame-1__image img {
  width: 100%;
  height: 100%;
}

.frame-2__content {
  background-color: #9C8554;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-2__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 74vw;
  /* 1065/1440 */
  height: 83.5vh;
  /* 668/800 */
}

.frame-2__image img {
  width: 100%;
  height: 100%;
}

.frame-3__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-3__image-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
}

.frame-3__image-left img {
  width: 100%;
  height: 100%;
}

.frame-3__image-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
}

.frame-3__image-right img {
  width: 100%;
  height: 100%;
}

.frame-4__content {
  background-color: #EBEBEB;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-4__image {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1.73vw;
  /* 25/1440 */
  width: 55.2vw;
  /* 796/1440 */
  height: 71vh;
  /* 568/800 */
}

.frame-4__image img {
  width: 100%;
  height: 100%;
}

.frame-5__content {
  background-color: #A26779;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-5__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 74vw;
  /* 1065/1440 */
  height: 86vh;
  /* 688/800 */
}

.frame-5__image img {
  width: 100%;
  height: 100%;
}

.frame-6__content {
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-6__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  /* 1065/1440 */
  height: 100vh;
  /* 688/800 */
}

.frame-6__image img {
  width: 100%;
  height: 100%;
}

.frame-7__content {
  background-color: #504B4D;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-7__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 74vw;
  /* 1065/1440 */
  height: 86vh;
  /* 688/800 */
}

.frame-7__image img {
  width: 100%;
  height: 100%;
}

.frame-8__content {
  background-color: #B04836;
  position: relative;
  width: 100%;
  height: 100%;
}

.frame-8__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 74vw;
  /* 1065/1440 */
  height: 86vh;
  /* 688/800 */
}

.frame-8__image img {
  width: 100%;
  height: 100%;
}
