@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff") format("woff");
}
 
 [class^="icon-"], [class*=" icon-"] {
  &::before {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
  }
 }

.icon-cart:before {
  content: "\e900";
}
.icon-mail-list:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}
.icon-sing-up:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-s-yotube:before {
  content: "\e905";
}
.icon-s-facebook:before {
  content: "\e906";
}
.icon-s-instagram:before {
  content: "\e907";
}
.icon-s-twiter:before {
  content: "\e908";
}
.icon-cart-shop:before {
  content: "\e909";
}
.icon-compare:before {
  content: "\e90a";
}
.icon-enlarge:before {
  content: "\e90b";
}
.icon-like:before {
  content: "\e90c";
}
.icon-about-us:before {
  content: "\e90d";
}
.icon-blog:before {
  content: "\e90e";
}
.icon-gallery:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-location:before {
  content: "\e911";
}
.icon-shop:before {
  content: "\e912";
}